body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 16px;
    padding-right: 16px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 100%;
}

#searchbox {
	background-color: #767372;
	background-image: linear-gradient(rgba(39,43,48), #c8c8c8);
	border-radius: 35px;
	border-width: 1px;
	border-style: solid;
	border-color: #c4d9df #a4c3ca #83afb7;
	width: 100%;
	height: 55px;
	padding: 10px;
	margin: 100px auto 30px;
	overflow: hidden;
}

#search, #submit {
	float: left;
}

#search {
	padding: 3px 9px;
	height: 35px;
	width: 85%;
	border: 1px solid #a4c3ca;
	font: normal 13px 'trebuchet MS', arial, helvetica;
	background: #f1f1f1;
	border-radius: 50px 3px 3px 50px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}

#submit {
	background-color: #ff8c1a;
	background-image: linear-gradient(#e67300, #ff8c1a);
	border-radius: 3px 50px 50px 3px;
	border-width: 1px;
	border-style: solid;
	border-color: #7eba7c #578e57 #447d43;
	box-shadow: 0 0 1px rgba(0,0,0,0.3),
							0 1px 0 rgba(255, 255, 255, 0.3) inset;
	height: 35px;
	margin: 0 0 0 10px;
	padding: 0;
	width:90px;
	cursor: pointer;
	font: bold 14px Arial, Helvetica;
	color: #1f1e1e;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	transition: color .5s, background-image .5s;
}

#submit:hover {
	background-color: #ffa64d;
	background-image: linear-gradient(#ff8c1a, #ffa64d);
}

#submit:active {
	background: #ff8c1a;
	outline: none;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5) inset;
}

#submit::-moz-focus-inner {
	border: 0;
}

#search::-webkit-input-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

#search:-moz-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

#search:-ms-input-placeholder {
	color: #9c9c9c;
	font-style: italic;
}

th {
	color: #ff8c1a;
}

#header {
	text-align: center;
	font-family: 'Rock Salt', cursive;
}

.jumbotron {
	background: url('crowd.jpg');
	background-attachment: fixed;
	min-height: 400px;
	margin-top: 10px;
	margin-bottom: 8px;
	vertical-align: central;
}

.btn {
	background-color: #ff8c1a;
	background-image: linear-gradient(#e67300, #ff8c1a);
	transition-duration: 0.5s;
	transition-property: color, background-image;
}

.btn:hover {
	background-color: #ffa64d;
	background-image: linear-gradient(#ff8c1a, #ffa64d);
}

.contact {
	color: #ff8c1a;
}

.contact:hover {
	color: #ffa64d;
}

.nav.navbar-nav li a {
	transition: color .5s;
}

.nav.navbar-nav li a:hover {
	color: #ff8c1a;
}

.container.navbar-header.navbar-brand li a:hover {
	color: #ff8c1a;
}

.fa-stack.fa-lg li a {
	color: #c8c8c8;
	transition: all .5s ease-in-out;
}

.jumbotron h1 {
	font-family: 'Rock Salt', cursive;
}

.fa-stack.fa-lg li a:hover {
	transform: scale(1.3);
}

@media (max-width: 720px) {
	#submit {width:73px}
}

@media (max-width: 610px) {
	#submit {width:53px}
}

@media (max-width: 480px) {
	#submit {width:85%}
	#submit {border-radius:25px}
	#submit {margin:7px 0 0 30px}
	#searchbox {height:100px}
	#search {border-radius:25px}
	#search{margin:0 0 0 30px}
}

@media (max-width: 380px) {
	#submit {width:85%}
	#submit {border-radius:25px}
	#submit {margin:7px 0 0 17px}
	#searchbox {height:100px}
	#search {border-radius:25px}
	#search{margin:0 0 0 17px}
}

