@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>There are dozens of festivals in the US alone, and trying to figure which ones you want to attend can be a daunting task.  <strong>Music Festival Finder</strong> provides a free service that makes planning for your next music festival trip a lot easier.  Simply search for your favorite bands and a detailed list of music festivals that your favorite band is participating in will be returned to you.  Finding out which music festivals to go to has never been made easier.  So get to searchin' and get to rockin'!</p>

<div class="row">
	<div class="col-md-6">
		<small>The festival info used in this site has been limitied to festivals in the US in the year 2016.</small>
	</div>
</div>
