@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Thank you for visiting my Music Festival Finder website.  This site was created as a project for the Code Louisville .NET/C# back end development course.  If you like what you have seen from this website, or have any sugguestions on how to improve this website, please feel free to contact me in any of the following ways:</p>

<address>
    <strong>Email:</strong>   <a class="contact" href="mailto:christiangrosskopf@yahoo.com">christiangrosskopf@yahoo.com</a><br />
    <strong>Phone:</strong> <a class="contact" href="tel:+15026482770">502-648-2770</a><br />
		<strong>Instagram:</strong> <a class="contact" href="https://www.instagram.com/christiangrosskopf/?ref=badge">instagram.com/christiangrosskopf</a>
</address>