@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Festival Finder</h1>
    <p class="lead"><strong>Festival Finder</strong>  is a fast and easy way of finding out when and where your favorite bands are playing music festivals in the year 2016.  Just click on the "Search" tab at the top of the screen, type your favorite band's name into the search box and the list of festivals that band is playing in will be returned to you.  It's that easy! So get to searchin' and get to rockin'! </p>
	<p>@Html.ActionLink("More info", "About", "Home", null, new
 {
	 @class = "btn btn-primary btn-lg"
 })</p>

</div>